.search-btn {
  padding: 0.2rem;
  border-radius: 50%;

  svg {
    color: rgba(255, 255, 255, 0.75);
  }

  .MuiButton-iconSizeMedium > *:first-child {
    font-size: 1.6rem;
  }
}

header {
  .search-input {
    label,
    svg {
      color: rgba(255, 255, 255, 0.75);
    }
  
    input::placeholder {
      color: #fff;
    }
  
    .MuiInputBase-input {
      color: white;
    }
  
    .MuiInput-underline:before {
      border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    }
    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-bottom: 2px solid rgba(255, 255, 255, 0.75);
    }
  
    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    }
  
    .MuiButtonBase-root {
      opacity: 0.2;
    }
  
    .MuiButtonBase-root:hover {
      opacity: 0.8;
    }
  
    .MuiInput-underline:after {
      border-bottom: 2px solid #eabc12;
    }
    
  }
  
}
