.cover {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    top: 0;
    left: 0;

    &::before {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 2;
        content: '';
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.81) 0%, 
                                               rgba(0, 0, 0, 0.61) 58%,
                                               rgba(0, 0, 0, 0) 100%);
    }

    &__text {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
        position: relative;
        top: 35%; 
    }

    &__title {
        font-family: 'Cormorant', serif;
        font-size: 4rem; }

}

.main-content {
    .country {
        &__places {
            padding: 0 7rem;
            color: black;
        }
    
        &__heading {
                font-family: 'Cormorant', serif;
                font-size: 4rem;
                color: black;
                margin-bottom: 0;
                line-height: 1.1;
        }
              
        &__subheading {
                margin-top: 0;
                margin-bottom: 0.5rem;
                font-size: 0.9rem;
                text-transform: uppercase;
         }
         
         &__text {
            color: black;
            padding: 7rem;
        }
    
        &__article {
            font-size: 1.1rem;
            color: black;
        }

    }

}
  
  
.raiting {
    &__wrapper, &__box {
    margin: 0;
    padding: 0;
    }

  &__box > .MuiRating-root {
    font-size: 1.2rem;
    }
}

.video-react{
    
    &-poster {
    background-size: cover !important;
    }

    &-big-play-button {
        border: none !important;
    }
}

#map {
    height: 400px;
    margin: 4rem 0 0;
}
  
@media (max-width: 768px) {
    .country__text, .country__places {
      padding: 4rem;
    }

    .country__article {
      font-size: 1rem;
    }

    .country__text, .country__places {
      padding: 3rem;
    }
}
  
@media (max-width: 500px) {
    .country__places {
      padding: 0 0.5rem;
    }

    .country__text {
      padding: 2rem;
    }

    .cover__text {
      width: 80vw;
    }

    .widgets-wrapper {
      flex-direction: column;
    }

    .country__article {
      font-size: 0.9rem;
    }

    .country__heading {
      font-size: 2.5rem;
    }

    .image-gallery-thumbnail {
      width: 40px !important;
    }
}
  