.image-gallery-slides {
  text-align: left; }

.image-gallery-slides div {
  display: flex;
  flex-direction: column;
  align-items: center; }

.image-gallery-slides .image-gallery-slide .image-gallery-description {
  background: none;
  color: black;
  line-height: 1.5;
  white-space: normal;
  position: relative;
  bottom: auto; }

.image-gallery-slides-thumbnail:hover, .image-gallery-slides-thumbnail:focus, .image-gallery-slides-thumbnail .active {
  outline: none;
  border: 4px solid #000000;
  cursor: pointer; }

.image-gallery-icon {
  color: #88888885 !important;
  filter: none !important; }

.image-gallery-icon:hover {
  color: black !important;
  filter: none; }

.image-gallery-svg {
  height: 4rem; }

.image-gallery-fullscreen-button, .image-gallery .image-gallery-svg {
  height: 20px;
  width: 20px; }

.image-gallery-fullscreen-button {
  top: -3rem;
  bottom: auto; }

:focus {
  outline: none; }
